@model IEnumerable<ModuloInventario.Models.SOLICITUD>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SECUENCIALPERSONA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIEMPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIEMPOINICIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIEMPOFIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DETALLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SECUENCIALPERSONA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIEMPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIEMPOINICIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIEMPOFIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DETALLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SECUENCIAL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SECUENCIAL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SECUENCIAL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
