@model ModuloInevntario.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}
<br />
<h3>Ingreso de Computadores</h3>

<p>
    @Html.ActionLink("Ingresar", "Create")
</p>
<table class="table table-responsive table-striped " border="1">
    <thead class="thead-dark">
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Descripción
            </th>
            <th>
                RAM
            </th>
            <th>
                Procesador
            </th>
            <th>
                Disco
            </th>
            <th>
                Licenciado
            </th>
            <th>
                Office
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Serie
            </th>
            <th>
                Particularidad
            </th>
            <th>
                Estado
            </th>
            <th>
                NºFactura
            </th>
            <th>
                Valor
            </th>
            <th>
                Fecha
            </th>
            <th>
                Observaciones
            </th>
            <th>.............Opciones...........</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ingresoComputador)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGOINTERNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUADADDEUBICACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MEMORIARAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PROCESADOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISCODURO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LICENCIADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OFFICE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODELO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERIE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARTICULARIDAD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NODEFACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VALORFACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAADQUISICION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBSERVACIONES)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.SECUENCIAL })
                </td>
            </tr>
        }
    </tbody>

</table>

@{Html.RenderPartial("_paginador", Model);}
