@model ModuloInventario.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Ingreso de Computadores</h2>

<p>
    @Html.ActionLink("Ingresar", "Create")
</p>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table table-responsive" border="1">
                <tr style="background-color:#3072AC; color:#ffffff;">
                    <th>
                        CODIGOINTERNO
                    </th>
                    <th>
                        CUADADDEUBICACION
                    </th>
                    <th>
                        DESCRIPCION
                    </th>
                    <th>
                        MEMORIARAM
                    </th>
                    <th>
                        PROCESADOR
                    </th>
                    <th>
                        DISCODURO
                    </th>
                    <th>
                        LICENCIADO
                    </th>
                    <th>
                        OFFICE
                    </th>
                    <th>
                        MARCA
                    </th>
                    <th>
                        MODELO
                    </th>
                    <th>
                        SERIE
                    </th>
                    <th>
                        PARTICULARIDAD
                    </th>
                    <th>
                        ESTADO
                    </th>
                    <th>
                        NODEFACTURA
                    </th>
                    <th>
                        VALORFACTURA
                    </th>
                    <th>
                        FECHAADQUISICION
                    </th>
                    <th>
                        OBSERVACIONES
                    </th>
                    <th>............. Opciones ...........</th>
                </tr>

                @foreach (var item in Model.ingresoComputador)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CODIGOINTERNO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CUADADDEUBICACION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MEMORIARAM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PROCESADOR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISCODURO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LICENCIADO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OFFICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MARCA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MODELO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SERIE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PARTICULARIDAD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ESTADO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NODEFACTURA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VALORFACTURA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHAADQUISICION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OBSERVACIONES)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.SECUENCIAL }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.SECUENCIAL }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.SECUENCIAL })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@{Html.RenderPartial("_paginador", Model);}
