@model ModuloInventario.Models.BAJADEEQUIPOSCOMPUTADORES

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BAJADEEQUIPOSCOMPUTADORES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIPO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RESPONSABLE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RESPONSABLE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CODIGOINTERNO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CODIGOINTERNO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MOTIVO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MOTIVO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SECUENCIAL">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
