@model IEnumerable<ModuloInventario.Models.BAJADEEQUIPOSCOMPUTADORES>

@{
    ViewData["Title"] = "Index";
}

<h2>Baja de Computadores</h2>

<p>
    <a asp-action="Create">Dar de baja</a>
</p>
<table class="table table-responsive" border="1">
    <thead style="background-color:#3072AC; color:#ffffff;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESPONSABLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGOINTERNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOTIVO)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESPONSABLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGOINTERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTIVO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SECUENCIAL">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SECUENCIAL">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.SECUENCIAL">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
