@model ModuloInevntario.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<br />
<h3>Ingreso de Articulos Varios</h3>

<p>
    @Html.ActionLink("Ingresar", "Create")
</p>
<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                CODIGOINTERNO
            </th>
            <th>
                CUADADDEUBICACION
            </th>
            <th>
                DESCRIPCION
            </th>
            <th>
                MARCA
            </th>
            <th>
                MODELO
            </th>
            <th>
                SERIE
            </th>
            <th>
                PARTICULARIDAD
            </th>
            <th>
                ESTADO
            </th>
            <th>
                NODEFACTURA
            </th>
            <th>
                VALORFACTURA
            </th>
            <th>
                FECHAADQUISICION
            </th>
            <th>
                OBSERVACIONES
            </th>
            <th>.............Opciones...........</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ingresoVario)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGOINTERNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUADADDEUBICACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODELO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERIE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARTICULARIDAD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NODEFACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VALORFACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAADQUISICION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBSERVACIONES)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SECUENCIAL })
                </td>
            </tr>
        }
    </tbody>
</table>

@{Html.RenderPartial("_paginador", Model);}
