@model ModuloInevntario.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<br />

<h3>Asignacion de Computadores</h3>

<p>
    @Html.ActionLink("Asignar", "Create")
</p>
<table class="table  table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                RESPONSABLE
            </th>
            <th>
                CODIGOINTERNO
            </th>
            <th>
                TIEMPOINICIO
            </th>
            <th>
                TIEMPOFIN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.asignacionComputador)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RESPONSABLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGOINTERNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIEMPOINICIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIEMPOFIN)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SECUENCIAL })
                </td>
            </tr>
        }
    </tbody>
</table>

@{Html.RenderPartial("_paginador", Model);}
