@model ModuloInevntario.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<br />
<h3>Catalogo</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                CODIGO
            </th>
            <th>
                TIPOITEM
            </th>
            <th>
                CATEGORIAITEM
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.itemsCatalogo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPOITEM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIAITEM)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SECUENCIAL }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SECUENCIAL })
                </td>
            </tr>
        }
    </tbody>
</table>

@{Html.RenderPartial("_paginador", Model);}