@model IEnumerable<ModuloInventario.Models.INGRESOVARIOS>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="~/css/fontawesome-free-5.3.1-web/css/all.min.css">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CODIGOINTERNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUADADDEUBICACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SECUENCIALITEM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MARCA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MODELO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERIE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PARTICULARIDAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NODEFACTURA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VALORFACTURA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHAADQUISICION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OBSERVACIONES)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGOINTERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUADADDEUBICACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SECUENCIALITEM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MARCA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODELO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SERIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PARTICULARIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NODEFACTURA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VALORFACTURA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHAADQUISICION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OBSERVACIONES)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SECUENCIAL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SECUENCIAL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SECUENCIAL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
