@model ModuloInventario.Models.ASIGNACIONCOMPUTADORES

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center" style="background-color:#3072AC; color:#ffffff;">Detalle</h2>

<div>
    <h4>Asignacion de Computadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RESPONSABLE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RESPONSABLE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CODIGOINTERNO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CODIGOINTERNO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIEMPOINICIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIEMPOINICIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIEMPOFIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIEMPOFIN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SECUENCIAL">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
