@model ModuloInventario.Models.INGRESOCOMPUTADORES

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro de eliminar?</h3>
<div>
    <h4>Ingreso De Computadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODIGOINTERNO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CODIGOINTERNO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CUADADDEUBICACION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUADADDEUBICACION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SECUENCIALITEM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SECUENCIALITEM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MEMORIARAM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MEMORIARAM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PROCESADOR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROCESADOR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DISCODURO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DISCODURO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SISTEMAOPERATIVO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SISTEMAOPERATIVO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LICENCIADO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LICENCIADO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OFFICE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OFFICE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MODELO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SERIE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SERIE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PARTICULARIDAD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PARTICULARIDAD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NODEFACTURA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NODEFACTURA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VALORFACTURA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VALORFACTURA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FECHAADQUISICION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FECHAADQUISICION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OBSERVACIONES)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OBSERVACIONES)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SECUENCIAL" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
